.reservation{
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 120px;
    position: relative;
}

.reservation__title{
    margin: 0 0 80px 0;
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form{
    display: flex;
    flex-direction: column;
    max-width: 385px;
    margin: 0 auto 0 auto;    
}

.reservation__label{
    margin: 0 0 8px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.reservation__input{
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
    height: 60px;
    margin-bottom: 32px;
    border-radius: 4px;
}

.reservation__fieldset{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;        
}

.reservation__button{
    height: 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;  
    background-color: #2f80ed;
    padding: 0;  
}

.reservation__button:hover{
    opacity: 0.7;
}

.reservation__checkbox{
    margin-top: 32px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

.reservation__checkbox-input{
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.reservation__checkbox-label{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}